@charset "UTF-8";

/*
    Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap'); /* TITLES */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /* QUOTATION */

:root {
    --font001: Verdana, Geneva, Tahoma, sans-serif;
    --font002: 'Passion One', cursive;
    --font003: 'Courgette', cursive;
}
/*
    GLOBAL SETUPS
*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--font001);
    font-size: 1em;
    text-align: justify;
}

/*
    HEADER
*/
header {
    background-image: url('../images/wallpaper-global.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30vh;
    padding-bottom: 30vh;
    text-align: center;
}

div.container {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    padding: 50px;

}

div.container > h1 {
    font-size: 15vw;
    font-family: var(--font002);
    color: white;
}

div.container > p {
    font-size: 2.2vw;
    font-family: var(--font003);
}

/*
    LINKS
*/
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*
    MAIN
*/
section {
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2em;
    font-size: 2.2vw;
}

section h2 {
    text-align: center;
    font-family: var(--font002);
}

section.image {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.image > h2 {
    padding: 5px 50px 5px 50px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section.image > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../images/wallpaper-ldn.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02 {
    background-image: url('../images/wallpaper-tko.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/*
    FOOTER
*/
footer {
    text-align: center;
    background-color: rgb(95, 94, 94);
    color: white;
    padding: 10px;
}